.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rgb(57, 57, 57);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.boxes{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-grow: inherit;
}

.main-nav li{
  padding: .5%;
}

.main-nav a{
  color: white;
  text-decoration: none;
}

.main-nav a:hover{
  color: blue;
  text-decoration: none;
}

.username{
  font-size: 18px;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden; 
  white-space: nowrap;
}

.title{
  font-size: 12px;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden; 
  white-space: nowrap;
  width: 300px;
}

.viewers{
  font-size: 12px;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden; 
}

.img{
  object-fit: cover;
  width: auto;
  height: auto;
  border-radius: 15%;
  border: 3px solid blue;
}

.box-container{
  flex-grow: 1;
}

.text-container{
  flex-grow: 1;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

